<?xml version="1.0" encoding="utf-8"?>
<!--
  Template: Deploy SmartParking API lên Azure App Service
  Cách dùng:
  1. Tạo Azure App Service (Web App) trên portal.azure.com
  2. Tạo Azure SQL Database
  3. Download Publish Profile từ App Service > Get publish profile
  4. Hoặc cập nhật các giá trị bên dưới theo Resource của bạn
  5. Right-click project > Publish > Chọn profile này
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://YOUR_APP_NAME.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>YOUR_APP_NAME.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>YOUR_APP_NAME</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>
