/****** Object:  Database [SmartParkingDB]    Script Date: 3/23/2026 8:08:55 PM ******/
CREATE DATABASE [SmartParkingDB]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/23/2026 8:08:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ParkingLotId] [uniqueidentifier] NOT NULL,
	[BookingTime] [datetime2](7) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[VehicleId] [uniqueidentifier] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CheckInTime] [datetime2](7) NULL,
	[CheckOutTime] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DevicePushTokens]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DevicePushTokens](
	[DevicePushTokenId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ExpoPushToken] [nvarchar](500) NOT NULL,
	[Platform] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[LastUsedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_DevicePushTokens] PRIMARY KEY CLUSTERED 
(
	[DevicePushTokenId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailOtps]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailOtps](
	[OtpId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[OtpCode] [nvarchar](6) NOT NULL,
	[ExpiredAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[TemporaryPasswordHash] [nvarchar](max) NULL,
	[TemporaryFullName] [nvarchar](255) NULL,
	[TemporaryPhone] [nvarchar](20) NULL,
	[OtpType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OtpId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExtensionRequests]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExtensionRequests](
	[ExtensionRequestId] [uniqueidentifier] NOT NULL,
	[BookingId] [uniqueidentifier] NOT NULL,
	[RequestedEndTime] [datetime2](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RejectReason] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ProcessedAt] [datetime2](7) NULL,
	[ProcessedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ExtensionRequests] PRIMARY KEY CLUSTERED 
(
	[ExtensionRequestId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[FavoriteId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ParkingLotId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Favorites] PRIMARY KEY CLUSTERED 
(
	[FavoriteId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](2000) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Data] [nvarchar](4000) NULL,
	[IsRead] [bit] NOT NULL,
	[ReadAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OwnerBankAccounts]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnerBankAccounts](
	[OwnerBankAccountId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[BankCode] [nvarchar](20) NOT NULL,
	[BankName] [nvarchar](100) NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[AccountHolderName] [nvarchar](100) NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[VerifiedAt] [datetime2](0) NULL,
	[VerifiedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_OwnerBankAccounts] PRIMARY KEY CLUSTERED 
(
	[OwnerBankAccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OwnerUpgradeRequests]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnerUpgradeRequests](
	[RequestId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[FullNameSnapshot] [nvarchar](100) NOT NULL,
	[EmailSnapshot] [nvarchar](256) NOT NULL,
	[PhoneSnapshot] [nvarchar](50) NULL,
	[ParkingLotName] [nvarchar](100) NOT NULL,
	[ParkingLotAddress] [nvarchar](255) NOT NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[PlanType] [nvarchar](50) NOT NULL,
	[FeeAmount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[RejectReason] [nvarchar](500) NULL,
	[PaymentTransactionId] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[ApprovedAt] [datetime2](0) NULL,
	[RejectedAt] [datetime2](0) NULL,
	[ProcessedBy] [uniqueidentifier] NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_OwnerUpgradeRequests] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingLocations]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingLocations](
	[LocationId] [uniqueidentifier] NOT NULL,
	[ParkingLotId] [uniqueidentifier] NOT NULL,
	[Latitude] [decimal](10, 7) NOT NULL,
	[Longitude] [decimal](10, 7) NOT NULL,
	[Province] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[Ward] [nvarchar](100) NULL,
	[Street] [nvarchar](255) NULL,
	[Area] [nvarchar](255) NULL,
	[FullAddress] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[ProvinceCode] [int] NULL,
	[WardCode] [int] NULL,
 CONSTRAINT [PK_ParkingLocations] PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingLots]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingLots](
	[ParkingLotId] [uniqueidentifier] NOT NULL,
	[OwnerId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[TotalCapacity] [int] NOT NULL,
	[CurrentOccupancy] [int] NULL,
	[PricePerHour] [decimal](10, 2) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[RowVersion] [timestamp] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[RejectReason] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ParkingLotId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentLogs]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentLogs](
	[LogId] [uniqueidentifier] NOT NULL,
	[PaymentId] [uniqueidentifier] NOT NULL,
	[RawData] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransactions]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransactions](
	[PaymentId] [uniqueidentifier] NOT NULL,
	[BookingId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[PaymentMethod] [nvarchar](20) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[VnpTxnRef] [nvarchar](100) NOT NULL,
	[VnpTransactionNo] [nvarchar](100) NULL,
	[VnpResponseCode] [nvarchar](10) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[VnpBankCode] [nvarchar](50) NULL,
	[VnpCardType] [nvarchar](50) NULL,
	[RefundAmount] [decimal](18, 2) NULL,
	[RefundReason] [nvarchar](500) NULL,
	[RefundedAt] [datetime2](7) NULL,
	[RefundedBy] [uniqueidentifier] NULL,
	[Metadata] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
	[SePayOrderId] [nvarchar](100) NULL,
	[SePayTransactionId] [nvarchar](100) NULL,
	[SePayBankCode] [nvarchar](50) NULL,
	[SePayBankAccount] [nvarchar](50) NULL,
	[SePayTransferContent] [nvarchar](200) NULL,
	[SePayQrCode] [nvarchar](max) NULL,
	[OwnerUpgradeRequestId] [uniqueidentifier] NULL,
	[PaymentType] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ParkingLotId] [uniqueidentifier] NOT NULL,
	[BookingId] [uniqueidentifier] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[DeletedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SePayWebhookLogs]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SePayWebhookLogs](
	[LogId] [uniqueidentifier] NOT NULL,
	[OrderId] [nvarchar](100) NULL,
	[TransactionId] [nvarchar](100) NULL,
	[Amount] [decimal](18, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[RawPayload] [nvarchar](max) NULL,
	[Signature] [nvarchar](500) NULL,
	[IsVerified] [bit] NOT NULL,
	[IsProcessed] [bit] NOT NULL,
	[ProcessedAt] [datetime2](7) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IpAddress] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAuth]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAuth](
	[AuthId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Provider] [nvarchar](20) NULL,
	[ProviderUserId] [nvarchar](200) NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[AvatarUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[TokenId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[RefreshToken] [nvarchar](255) NOT NULL,
	[ExpiryDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsRevoked] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWallets]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWallets](
	[UserId] [uniqueidentifier] NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserWallets] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[LicensePlate] [nvarchar](20) NOT NULL,
	[VehicleType] [int] NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Color] [nvarchar](30) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WalletTransactions]    Script Date: 3/23/2026 8:08:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WalletTransactions](
	[WalletTransactionId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[BalanceAfter] [decimal](18, 2) NOT NULL,
	[BookingId] [uniqueidentifier] NULL,
	[PaymentTransactionId] [uniqueidentifier] NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_WalletTransactions] PRIMARY KEY CLUSTERED 
(
	[WalletTransactionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260311062435_AddProvinceWardCodesToParkingLocations', N'8.0.14')
GO
INSERT [dbo].[DevicePushTokens] ([DevicePushTokenId], [UserId], [ExpoPushToken], [Platform], [CreatedAt], [LastUsedAt], [IsActive]) VALUES (N'd15ef120-22b6-4dd7-aa2a-63bc76583844', N'5a038829-3f3e-4e19-8215-7d13b915fd79', N'ExponentPushToken[HOiluEL8d6mPQfwtgisI6o]', N'android', CAST(N'2026-03-19T16:35:01.1109866' AS DateTime2), CAST(N'2026-03-19T17:01:05.4271390' AS DateTime2), 1)
GO
INSERT [dbo].[EmailOtps] ([OtpId], [Email], [OtpCode], [ExpiredAt], [IsUsed], [CreatedAt], [TemporaryPasswordHash], [TemporaryFullName], [TemporaryPhone], [OtpType]) VALUES (N'dca8b2dc-a2ca-47cd-9196-0a2446d1c1a1', N'vtngan270902@gmail.com', N'881530', CAST(N'2026-02-03T08:53:24.1784058' AS DateTime2), 1, CAST(N'2026-02-03T08:48:24.1784099' AS DateTime2), N'$2a$11$OsN4z65tSZbCPYZqzjFHJOeaWY3Gat3PUEogOb9LjjSm8qNBHe1Ti', N'Vũ Thanh Ngân', N'0979854888', N'Registration')
INSERT [dbo].[EmailOtps] ([OtpId], [Email], [OtpCode], [ExpiredAt], [IsUsed], [CreatedAt], [TemporaryPasswordHash], [TemporaryFullName], [TemporaryPhone], [OtpType]) VALUES (N'a17f42b2-dc45-40da-8648-0b6c860eb4f4', N'vtngan270902@gmail.com', N'176555', CAST(N'2026-02-03T08:51:22.3220586' AS DateTime2), 1, CAST(N'2026-02-03T08:46:22.3222662' AS DateTime2), N'$2a$11$kmbKb2CxpsaynSwBxFy9ZelWJjd3AsSgUq6o9PjGejcgzneIk9Lau', N'Vũ Thanh Ngân', N'0979854888', N'Registration')
INSERT [dbo].[EmailOtps] ([OtpId], [Email], [OtpCode], [ExpiredAt], [IsUsed], [CreatedAt], [TemporaryPasswordHash], [TemporaryFullName], [TemporaryPhone], [OtpType]) VALUES (N'de1c567a-4161-459c-ad96-102af4fcff8f', N'hieultse161727@fpt.edu.vn', N'913072', CAST(N'2026-01-26T05:14:27.4762732' AS DateTime2), 1, CAST(N'2026-01-26T05:09:27.4764469' AS DateTime2), N'$2a$11$CibiUdfjn9aMJTtIP/oFIOGdfdT0bqyJYG.cuSVLSBvd0kjFI4jOq', N'Snuggie', N'0986515253', N'Registration')
GO
INSERT [dbo].[ExtensionRequests] ([ExtensionRequestId], [BookingId], [RequestedEndTime], [Status], [RejectReason], [CreatedAt], [ProcessedAt], [ProcessedBy]) VALUES (N'34ba2174-46c5-4040-b5aa-1c8f00fd0e58', N'3b030b34-1a5c-4906-bd68-cd31279c3af7', CAST(N'2026-02-24T08:09:18.8930000' AS DateTime2), N'Approved', NULL, CAST(N'2026-02-24T07:09:18.9025805' AS DateTime2), CAST(N'2026-02-24T07:09:34.7789206' AS DateTime2), N'5a038829-3f3e-4e19-8215-7d13b915fd79')
GO
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Message], [Type], [Data], [IsRead], [ReadAt], [CreatedAt], [CreatedBy]) VALUES (N'd0004e83-e59b-431e-b470-01c7dc1c234e', N'6ac6e7b1-711c-4fc6-b195-295f2bea5b41', N'Đặt chỗ thành công', N'Bạn đã đặt chỗ tại bãi xe Bãi Xe Ngân. Tổng tiền: 60,000đ. Vui lòng thanh toán để hoàn tất.', N'Booking', N'{"bookingId":"fa040079-7b08-4c5e-a0f0-920beb3aace8"}', 0, NULL, CAST(N'2026-03-05T02:33:37.7702240' AS DateTime2), NULL)
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Message], [Type], [Data], [IsRead], [ReadAt], [CreatedAt], [CreatedBy]) VALUES (N'f0409d65-1775-4626-9b43-032e4fa02205', N'937b02b0-e8be-440e-a1b0-005aee94dcfd', N'Yêu cầu đăng ký làm chủ bãi xe đã bị từ chối', N'Yêu cầu đăng ký làm chủ bãi xe của bạn đã bị từ chối. Lý do: a', N'Error', NULL, 0, NULL, CAST(N'2026-03-03T06:33:38.2899878' AS DateTime2), N'9e5e38a3-b7a1-4252-846c-27c0ebdc7b59')
INSERT [dbo].[Notifications] ([NotificationId], [UserId], [Title], [Message], [Type], [Data], [IsRead], [ReadAt], [CreatedAt], [CreatedBy]) VALUES (N'd16d1b05-d991-4f6b-97df-09111c5ce643', N'6ac6e7b1-711c-4fc6-b195-295f2bea5b41', N'Nạp ví thành công', N'Bạn đã nạp 10,000đ vào ví qua chuyển khoản. Số dư hiện tại: 58,500đ.', N'Success', NULL, 0, NULL, CAST(N'2026-03-04T05:15:17.0921311' AS DateTime2), NULL)
GO
INSERT [dbo].[Reviews] ([ReviewId], [UserId], [ParkingLotId], [BookingId], [Rating], [Comment], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (N'acf51d3f-d644-4e9a-b7d3-5868457a2ff4', N'c1607535-2789-42b2-b2d1-c65ff65c154b', N'e20faf9c-c6b9-41fe-8e41-6371b1e1cabb', N'a95758c3-45f2-49dc-a5d2-f601ab277254', 5, N'Dịch vụ quá tốt', CAST(N'2026-03-04T14:13:57.0789709' AS DateTime2), NULL, 0, NULL, NULL)
INSERT [dbo].[Reviews] ([ReviewId], [UserId], [ParkingLotId], [BookingId], [Rating], [Comment], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (N'28bfe5d4-c75f-4695-975e-8da59d3531eb', N'6ac6e7b1-711c-4fc6-b195-295f2bea5b41', N'387b5a2d-420f-4df2-99c0-dd56f596a1f2', N'536791e9-e751-4025-b9b1-8ed305cea4e5', 5, N'Đại đại', CAST(N'2026-03-05T03:11:28.1187078' AS DateTime2), NULL, 0, NULL, NULL)
INSERT [dbo].[Reviews] ([ReviewId], [UserId], [ParkingLotId], [BookingId], [Rating], [Comment], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [DeletedBy]) VALUES (N'd35a95b7-94c0-48e3-9bde-c6adb0ac1052', N'6ac6e7b1-711c-4fc6-b195-295f2bea5b41', N'ce8c5b7a-6607-4215-a3de-b35d2b36c439', N'24579a3e-96ce-4245-9510-1cef05b80e9f', 5, N'10 điểm ko có nhưng', CAST(N'2026-03-03T09:05:39.3886344' AS DateTime2), NULL, 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Owner')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[UserAuth] ([AuthId], [UserId], [Provider], [ProviderUserId], [PasswordHash], [CreatedAt]) VALUES (N'ee72fba3-0a17-4722-b690-037ed8762daa', N'7481d294-04a6-492c-909d-943fdc2b21e1', N'Local', N'test@example.com', N'$2a$11$JL/bzu566B0xBFuoYy7zWOaPnXKV80yQGgtxW7LFguthR5TWxZ13m', CAST(N'2026-01-26T04:57:43.4128009' AS DateTime2))
INSERT [dbo].[UserAuth] ([AuthId], [UserId], [Provider], [ProviderUserId], [PasswordHash], [CreatedAt]) VALUES (N'19f5cd8d-63a6-4ede-a632-0e40b1f6926c', N'eef6ffaf-94ae-4497-8017-39db9046ce4d', N'Local', N'hieu@gmail.com', N'$2a$11$fcj2oRRJBbuSmvVXC..m1eklzv9nm6RGmMvNtbdCk1Xk0Se9bEr7K', CAST(N'2026-01-25T07:09:47.6558941' AS DateTime2))
INSERT [dbo].[UserAuth] ([AuthId], [UserId], [Provider], [ProviderUserId], [PasswordHash], [CreatedAt]) VALUES (N'3692506b-f91f-4ac9-add4-2f1e512e5f21', N'9e5e38a3-b7a1-4252-846c-27c0ebdc7b59', N'Local', N'hieultse161727@fpt.edu.vn', N'$2a$11$0GnazgctLRGU84NusCw7EOp7jWrl8ML9B0kjU.lfRKvs.5tdgUAci', CAST(N'2026-01-26T05:10:36.2155271' AS DateTime2))
GO
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Phone], [RoleId], [IsActive], [CreatedAt], [EmailConfirmed], [AvatarUrl]) VALUES (N'937b02b0-e8be-440e-a1b0-005aee94dcfd', N'Vũ Thanh Ngân', N'vtngan270902@gmail.com', N'0979854888', 2, 1, CAST(N'2026-02-03T08:48:40.0447019' AS DateTime2), 1, NULL)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Phone], [RoleId], [IsActive], [CreatedAt], [EmailConfirmed], [AvatarUrl]) VALUES (N'9e5e38a3-b7a1-4252-846c-27c0ebdc7b59', N'Snuggie', N'hieultse161727@fpt.edu.vn', N'0986515253', 3, 1, CAST(N'2026-01-26T05:10:36.0709904' AS DateTime2), 1, NULL)
INSERT [dbo].[Users] ([UserId], [FullName], [Email], [Phone], [RoleId], [IsActive], [CreatedAt], [EmailConfirmed], [AvatarUrl]) VALUES (N'6ac6e7b1-711c-4fc6-b195-295f2bea5b41', N'Nguyễn Anh Hùng', N'hungnase180159@fpt.edu.vn', N'0868205403', 1, 1, CAST(N'2026-03-03T04:53:53.3333242' AS DateTime2), 1, NULL)
GO
INSERT [dbo].[UserTokens] ([TokenId], [UserId], [RefreshToken], [ExpiryDate], [CreatedAt], [IsRevoked]) VALUES (N'83e1a503-5aa2-4572-a9cc-005da3a24dab', N'9e5e38a3-b7a1-4252-846c-27c0ebdc7b59', N'QBBG0hNBdB6thrWSrXEAIGLUjk89M0WM4hjqkpNzuRF5jRWm/Bs2S8HTkeg/Vfkr27e42Rs1fsPmre6ZdPMzNw==', CAST(N'2026-02-11T09:56:13.2853589' AS DateTime2), CAST(N'2026-02-04T09:56:13.2853601' AS DateTime2), 0)
INSERT [dbo].[UserTokens] ([TokenId], [UserId], [RefreshToken], [ExpiryDate], [CreatedAt], [IsRevoked]) VALUES (N'b704d6c4-13af-41b4-9a88-00e72a8b69a0', N'6ac6e7b1-711c-4fc6-b195-295f2bea5b41', N'EF5tyPYO8OT5wdXKHvDHs8HMNDtD5ekRSJvaJHSZHJFqHeUBUFJg0AovUU4eVADtoQNsr9hCUoTt0BN8c6ns2g==', CAST(N'2026-03-10T09:17:55.6297640' AS DateTime2), CAST(N'2026-03-03T09:17:55.6297659' AS DateTime2), 0)
INSERT [dbo].[UserTokens] ([TokenId], [UserId], [RefreshToken], [ExpiryDate], [CreatedAt], [IsRevoked]) VALUES (N'b028b871-cd29-422c-93e2-0152ffb3fbff', N'5a038829-3f3e-4e19-8215-7d13b915fd79', N'BzE4FInZrHaSb5Ib8ZGo6y0KDtnZKoant3GAEiv4hlLogJKBVOG/Vx8m/p9rQKBBKrG5VzYnT/SJpG1y6sWnDQ==', CAST(N'2026-02-10T07:40:28.3068426' AS DateTime2), CAST(N'2026-02-03T07:40:28.3074840' AS DateTime2), 1)
GO
INSERT [dbo].[UserWallets] ([UserId], [Balance], [UpdatedAt]) VALUES (N'937b02b0-e8be-440e-a1b0-005aee94dcfd', CAST(1672400.00 AS Decimal(18, 2)), CAST(N'2026-03-20T06:38:52.4976408' AS DateTime2))
INSERT [dbo].[UserWallets] ([UserId], [Balance], [UpdatedAt]) VALUES (N'9e5e38a3-b7a1-4252-846c-27c0ebdc7b59', CAST(11100.00 AS Decimal(18, 2)), CAST(N'2026-03-20T06:38:52.5151876' AS DateTime2))
INSERT [dbo].[UserWallets] ([UserId], [Balance], [UpdatedAt]) VALUES (N'6ac6e7b1-711c-4fc6-b195-295f2bea5b41', CAST(500500.00 AS Decimal(18, 2)), CAST(N'2026-03-05T03:10:57.2644866' AS DateTime2))
GO
INSERT [dbo].[Vehicles] ([VehicleId], [UserId], [LicensePlate], [VehicleType], [Brand], [Model], [Color], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'830cfea4-2e8c-45e8-93fd-071adecf7fbb', N'af0652c8-1df8-440c-83f1-f965c2885439', N'38A-123456', 1, NULL, NULL, N'Đen xì', 1, CAST(N'2026-03-05T02:45:37.2168680' AS DateTime2), NULL)
INSERT [dbo].[Vehicles] ([VehicleId], [UserId], [LicensePlate], [VehicleType], [Brand], [Model], [Color], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'd5ac4e58-93d0-4dd1-a4d6-3d62ac48acfd', N'6ac6e7b1-711c-4fc6-b195-295f2bea5b41', N'30A-98765', 1, NULL, NULL, N'Xanh lè', 1, CAST(N'2026-03-03T04:56:41.0028520' AS DateTime2), NULL)
INSERT [dbo].[Vehicles] ([VehicleId], [UserId], [LicensePlate], [VehicleType], [Brand], [Model], [Color], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'6cb96520-892c-42a3-8a27-5382b083b066', N'9e5e38a3-b7a1-4252-846c-27c0ebdc7b59', N'30A-12345', 1, N'Toyota', N'Camry', N'Silver', 1, CAST(N'2026-01-25T12:21:28.9533333' AS DateTime2), NULL)
GO
INSERT [dbo].[WalletTransactions] ([WalletTransactionId], [UserId], [Amount], [Type], [BalanceAfter], [BookingId], [PaymentTransactionId], [Description], [CreatedAt]) VALUES (N'2bfc3c9f-5104-449c-9dc5-048cf5a30534', N'5a038829-3f3e-4e19-8215-7d13b915fd79', CAST(75000.00 AS Decimal(18, 2)), N'BookingIncome', CAST(199000.00 AS Decimal(18, 2)), N'7bc10b8a-1cab-45d4-955a-070e14216d3a', NULL, N'Thu tiền booking #7bc10b8a1cab45d4955a070e14216d3a', CAST(N'2026-03-04T13:58:09.4926346' AS DateTime2))
INSERT [dbo].[WalletTransactions] ([WalletTransactionId], [UserId], [Amount], [Type], [BalanceAfter], [BookingId], [PaymentTransactionId], [Description], [CreatedAt]) VALUES (N'487a7b29-b43a-4ee2-97b5-0582972e9ea2', N'937b02b0-e8be-440e-a1b0-005aee94dcfd', CAST(20000.00 AS Decimal(18, 2)), N'BookingIncome', CAST(1560000.00 AS Decimal(18, 2)), N'a95758c3-45f2-49dc-a5d2-f601ab277254', NULL, N'Thu tiền booking #a95758c345f249dca5d2f601ab277254', CAST(N'2026-03-04T14:08:11.7816784' AS DateTime2))
INSERT [dbo].[WalletTransactions] ([WalletTransactionId], [UserId], [Amount], [Type], [BalanceAfter], [BookingId], [PaymentTransactionId], [Description], [CreatedAt]) VALUES (N'ec5f740a-dfb5-46c2-9049-0762cfba7c02', N'6ac6e7b1-711c-4fc6-b195-295f2bea5b41', CAST(-5000.00 AS Decimal(18, 2)), N'BookingPayment', CAST(5000.00 AS Decimal(18, 2)), N'529f7428-d65f-4655-853d-5d60bc4a73be', N'd8d630a3-2e8b-46c5-8a89-c2bb27be26df', N'Thanh toán booking #529f7428d65f4655853d5d60bc4a73be', CAST(N'2026-03-03T08:42:24.7862206' AS DateTime2))
GO
/****** Object:  Index [IX_Bookings_IsDeleted]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_IsDeleted] ON [dbo].[Bookings]
(
	[IsDeleted] ASC
)
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bookings_ParkingLotId_Status_StartTime]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_ParkingLotId_Status_StartTime] ON [dbo].[Bookings]
(
	[ParkingLotId] ASC,
	[Status] ASC,
	[StartTime] ASC
)
INCLUDE([EndTime],[IsDeleted]) 
WHERE ([IsDeleted]=(0) AND [Status]<>'Cancelled' AND [Status]<>'Completed')
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bookings_Status]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Status] ON [dbo].[Bookings]
(
	[Status] ASC
)
INCLUDE([StartTime],[EndTime],[ParkingLotId]) 
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_UserId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_UserId] ON [dbo].[Bookings]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_UserId_IsDeleted]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_UserId_IsDeleted] ON [dbo].[Bookings]
(
	[UserId] ASC,
	[IsDeleted] ASC
)
INCLUDE([Status],[StartTime],[EndTime],[ParkingLotId]) 
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DevicePushTokens_UserId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_DevicePushTokens_UserId] ON [dbo].[DevicePushTokens]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DevicePushTokens_UserId_Token]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_DevicePushTokens_UserId_Token] ON [dbo].[DevicePushTokens]
(
	[UserId] ASC,
	[ExpoPushToken] ASC
)
WHERE ([IsActive]=(1))
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmailOtps_Email_IsUsed]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailOtps_Email_IsUsed] ON [dbo].[EmailOtps]
(
	[Email] ASC,
	[IsUsed] ASC
)
INCLUDE([OtpCode],[ExpiredAt],[CreatedAt]) 
WHERE ([IsUsed]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailOtps_ExpiredAt]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailOtps_ExpiredAt] ON [dbo].[EmailOtps]
(
	[ExpiredAt] ASC
)
WHERE ([IsUsed]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmailOtps_OtpType_Email]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmailOtps_OtpType_Email] ON [dbo].[EmailOtps]
(
	[OtpType] ASC,
	[Email] ASC,
	[IsUsed] ASC
)
WHERE ([IsUsed]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ExtensionRequests_BookingId_Status]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ExtensionRequests_BookingId_Status] ON [dbo].[ExtensionRequests]
(
	[BookingId] ASC,
	[Status] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Favorites_User_ParkingLot]    Script Date: 3/23/2026 8:08:58 PM ******/
ALTER TABLE [dbo].[Favorites] ADD  CONSTRAINT [UQ_Favorites_User_ParkingLot] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ParkingLotId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorites_ParkingLotId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Favorites_ParkingLotId] ON [dbo].[Favorites]
(
	[ParkingLotId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Favorites_UserId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Favorites_UserId] ON [dbo].[Favorites]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_CreatedAt]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_CreatedAt] ON [dbo].[Notifications]
(
	[CreatedAt] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserId_IsRead]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserId_IsRead] ON [dbo].[Notifications]
(
	[UserId] ASC,
	[IsRead] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OwnerBankAccounts_UserId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_OwnerBankAccounts_UserId] ON [dbo].[OwnerBankAccounts]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OwnerBankAccounts_UserId_IsDefault]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_OwnerBankAccounts_UserId_IsDefault] ON [dbo].[OwnerBankAccounts]
(
	[UserId] ASC,
	[IsDefault] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OwnerUpgradeRequests_Status_CreatedAt]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_OwnerUpgradeRequests_Status_CreatedAt] ON [dbo].[OwnerUpgradeRequests]
(
	[Status] ASC,
	[CreatedAt] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OwnerUpgradeRequests_UserId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_OwnerUpgradeRequests_UserId] ON [dbo].[OwnerUpgradeRequests]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingLocations_IsDeleted]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingLocations_IsDeleted] ON [dbo].[ParkingLocations]
(
	[IsDeleted] ASC
)
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingLocations_Lat_Lng]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingLocations_Lat_Lng] ON [dbo].[ParkingLocations]
(
	[Latitude] ASC,
	[Longitude] ASC
)
INCLUDE([ParkingLotId],[FullAddress]) 
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ParkingLocations_Province_District]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingLocations_Province_District] ON [dbo].[ParkingLocations]
(
	[Province] ASC,
	[District] ASC
)
INCLUDE([Ward],[Street],[FullAddress],[ParkingLotId]) 
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingLocations_ProvinceCode_WardCode]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingLocations_ProvinceCode_WardCode] ON [dbo].[ParkingLocations]
(
	[ProvinceCode] ASC,
	[WardCode] ASC
)
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ParkingLocations_ParkingLotId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_ParkingLocations_ParkingLotId] ON [dbo].[ParkingLocations]
(
	[ParkingLotId] ASC
)
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingLots_IsActive]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingLots_IsActive] ON [dbo].[ParkingLots]
(
	[IsActive] ASC
)
INCLUDE([Status],[CurrentOccupancy],[TotalCapacity]) 
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingLots_IsDeleted]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingLots_IsDeleted] ON [dbo].[ParkingLots]
(
	[IsDeleted] ASC
)
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ParkingLots_OwnerId_IsDeleted]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ParkingLots_OwnerId_IsDeleted] ON [dbo].[ParkingLots]
(
	[OwnerId] ASC,
	[IsDeleted] ASC
)
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PaymentT__543AE428D060789D]    Script Date: 3/23/2026 8:08:58 PM ******/
ALTER TABLE [dbo].[PaymentTransactions] ADD UNIQUE NONCLUSTERED 
(
	[VnpTxnRef] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_UserId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_UserId] ON [dbo].[PaymentTransactions]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentTransactions_BookingId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_BookingId] ON [dbo].[PaymentTransactions]
(
	[BookingId] ASC
)
INCLUDE([PaymentStatus],[Amount],[CreatedAt]) 
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentTransactions_OwnerUpgradeRequestId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_OwnerUpgradeRequestId] ON [dbo].[PaymentTransactions]
(
	[OwnerUpgradeRequestId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentTransactions_PaymentStatus]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_PaymentStatus] ON [dbo].[PaymentTransactions]
(
	[PaymentStatus] ASC
)
INCLUDE([Amount],[CreatedAt],[BookingId]) 
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentTransactions_SePayOrderId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_SePayOrderId] ON [dbo].[PaymentTransactions]
(
	[SePayOrderId] ASC
)
WHERE ([SePayOrderId] IS NOT NULL AND [IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PaymentTransactions_UserId_IsDeleted]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_UserId_IsDeleted] ON [dbo].[PaymentTransactions]
(
	[UserId] ASC,
	[IsDeleted] ASC
)
INCLUDE([PaymentStatus],[Amount],[CreatedAt],[BookingId]) 
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentTransactions_VnpTxnRef]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PaymentTransactions_VnpTxnRef] ON [dbo].[PaymentTransactions]
(
	[VnpTxnRef] ASC
)
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_ParkingLotId_IsDeleted]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_ParkingLotId_IsDeleted] ON [dbo].[Reviews]
(
	[ParkingLotId] ASC,
	[IsDeleted] ASC
)
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_UserId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_UserId] ON [dbo].[Reviews]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Reviews_BookingId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Reviews_BookingId] ON [dbo].[Reviews]
(
	[BookingId] ASC
)
WHERE ([IsDeleted]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B61609C25C11F]    Script Date: 3/23/2026 8:08:58 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SePayWebhookLogs_OrderId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_SePayWebhookLogs_OrderId] ON [dbo].[SePayWebhookLogs]
(
	[OrderId] ASC
)
INCLUDE([Status],[IsProcessed],[CreatedAt]) 
WHERE ([IsProcessed]=(0))
WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SePayWebhookLogs_TransactionId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_SePayWebhookLogs_TransactionId] ON [dbo].[SePayWebhookLogs]
(
	[TransactionId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Provider]    Script Date: 3/23/2026 8:08:58 PM ******/
ALTER TABLE [dbo].[UserAuth] ADD  CONSTRAINT [UQ_Provider] UNIQUE NONCLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534E5C6760F]    Script Date: 3/23/2026 8:08:58 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_EmailConfirmed]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_EmailConfirmed] ON [dbo].[Users]
(
	[EmailConfirmed] ASC
)
INCLUDE([UserId],[Email]) WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehicles__026BC15CA2F6FF53]    Script Date: 3/23/2026 8:08:58 PM ******/
ALTER TABLE [dbo].[Vehicles] ADD UNIQUE NONCLUSTERED 
(
	[LicensePlate] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Vehicles_LicensePlate]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicles_LicensePlate] ON [dbo].[Vehicles]
(
	[LicensePlate] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Vehicles_UserId]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Vehicles_UserId] ON [dbo].[Vehicles]
(
	[UserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WalletTransactions_UserId_CreatedAt]    Script Date: 3/23/2026 8:08:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_WalletTransactions_UserId_CreatedAt] ON [dbo].[WalletTransactions]
(
	[UserId] ASC,
	[CreatedAt] DESC
)WITH (STATISTICS_NORECOMPUTE = OFF, DROP_EXISTING = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (newid()) FOR [BookingId]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingTime]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[DevicePushTokens] ADD  DEFAULT (newid()) FOR [DevicePushTokenId]
GO
ALTER TABLE [dbo].[DevicePushTokens] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DevicePushTokens] ADD  DEFAULT (sysutcdatetime()) FOR [LastUsedAt]
GO
ALTER TABLE [dbo].[DevicePushTokens] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmailOtps] ADD  DEFAULT (newid()) FOR [OtpId]
GO
ALTER TABLE [dbo].[EmailOtps] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[EmailOtps] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmailOtps] ADD  DEFAULT ('Registration') FOR [OtpType]
GO
ALTER TABLE [dbo].[ExtensionRequests] ADD  DEFAULT (newid()) FOR [ExtensionRequestId]
GO
ALTER TABLE [dbo].[ExtensionRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ExtensionRequests] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Favorites] ADD  DEFAULT (newid()) FOR [FavoriteId]
GO
ALTER TABLE [dbo].[Favorites] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (newid()) FOR [NotificationId]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('Info') FOR [Type]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OwnerBankAccounts] ADD  CONSTRAINT [DF_OwnerBankAccounts_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[OwnerBankAccounts] ADD  CONSTRAINT [DF_OwnerBankAccounts_IsVerified]  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[OwnerBankAccounts] ADD  CONSTRAINT [DF_OwnerBankAccounts_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OwnerUpgradeRequests] ADD  CONSTRAINT [DF_OwnerUpgradeRequests_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ParkingLocations] ADD  DEFAULT (newid()) FOR [LocationId]
GO
ALTER TABLE [dbo].[ParkingLocations] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ParkingLocations] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  DEFAULT (newid()) FOR [ParkingLotId]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  DEFAULT ((0)) FOR [CurrentOccupancy]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PaymentLogs] ADD  DEFAULT (newid()) FOR [LogId]
GO
ALTER TABLE [dbo].[PaymentLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  DEFAULT (newid()) FOR [PaymentId]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  DEFAULT ('VNPay') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  CONSTRAINT [DF_PaymentTransactions_CreatedAt]  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (newid()) FOR [ReviewId]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SePayWebhookLogs] ADD  DEFAULT (newid()) FOR [LogId]
GO
ALTER TABLE [dbo].[SePayWebhookLogs] ADD  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[SePayWebhookLogs] ADD  DEFAULT ((0)) FOR [IsProcessed]
GO
ALTER TABLE [dbo].[SePayWebhookLogs] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserAuth] ADD  DEFAULT (newid()) FOR [AuthId]
GO
ALTER TABLE [dbo].[UserAuth] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[UserTokens] ADD  DEFAULT (newid()) FOR [TokenId]
GO
ALTER TABLE [dbo].[UserTokens] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserTokens] ADD  DEFAULT ((0)) FOR [IsRevoked]
GO
ALTER TABLE [dbo].[UserWallets] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[UserWallets] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT (newid()) FOR [VehicleId]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WalletTransactions] ADD  DEFAULT (newid()) FOR [WalletTransactionId]
GO
ALTER TABLE [dbo].[WalletTransactions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([ParkingLotId])
REFERENCES [dbo].[ParkingLots] ([ParkingLotId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Vehicles] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicles] ([VehicleId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Vehicles]
GO
ALTER TABLE [dbo].[DevicePushTokens]  WITH CHECK ADD  CONSTRAINT [FK_DevicePushTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DevicePushTokens] CHECK CONSTRAINT [FK_DevicePushTokens_Users]
GO
ALTER TABLE [dbo].[ExtensionRequests]  WITH CHECK ADD  CONSTRAINT [FK_ExtensionRequests_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExtensionRequests] CHECK CONSTRAINT [FK_ExtensionRequests_Bookings]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_ParkingLots] FOREIGN KEY([ParkingLotId])
REFERENCES [dbo].[ParkingLots] ([ParkingLotId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_ParkingLots]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_Users]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[OwnerBankAccounts]  WITH CHECK ADD  CONSTRAINT [FK_OwnerBankAccounts_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[OwnerBankAccounts] CHECK CONSTRAINT [FK_OwnerBankAccounts_Users]
GO
ALTER TABLE [dbo].[OwnerUpgradeRequests]  WITH CHECK ADD  CONSTRAINT [FK_OwnerUpgradeRequests_PaymentTransactions] FOREIGN KEY([PaymentTransactionId])
REFERENCES [dbo].[PaymentTransactions] ([PaymentId])
GO
ALTER TABLE [dbo].[OwnerUpgradeRequests] CHECK CONSTRAINT [FK_OwnerUpgradeRequests_PaymentTransactions]
GO
ALTER TABLE [dbo].[OwnerUpgradeRequests]  WITH CHECK ADD  CONSTRAINT [FK_OwnerUpgradeRequests_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[OwnerUpgradeRequests] CHECK CONSTRAINT [FK_OwnerUpgradeRequests_Users]
GO
ALTER TABLE [dbo].[ParkingLocations]  WITH CHECK ADD  CONSTRAINT [FK_ParkingLocations_ParkingLots] FOREIGN KEY([ParkingLotId])
REFERENCES [dbo].[ParkingLots] ([ParkingLotId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParkingLocations] CHECK CONSTRAINT [FK_ParkingLocations_ParkingLots]
GO
ALTER TABLE [dbo].[ParkingLots]  WITH CHECK ADD FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PaymentLogs]  WITH CHECK ADD FOREIGN KEY([PaymentId])
REFERENCES [dbo].[PaymentTransactions] ([PaymentId])
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransactions_OwnerUpgradeRequests] FOREIGN KEY([OwnerUpgradeRequestId])
REFERENCES [dbo].[OwnerUpgradeRequests] ([RequestId])
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PaymentTransactions_OwnerUpgradeRequests]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Bookings]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_ParkingLots] FOREIGN KEY([ParkingLotId])
REFERENCES [dbo].[ParkingLots] ([ParkingLotId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_ParkingLots]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[UserAuth]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserWallets]  WITH CHECK ADD  CONSTRAINT [FK_UserWallets_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UserWallets] CHECK CONSTRAINT [FK_UserWallets_Users]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_Vehicles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_Vehicles_Users]
GO
ALTER TABLE [dbo].[WalletTransactions]  WITH CHECK ADD  CONSTRAINT [FK_WalletTransactions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[WalletTransactions] CHECK CONSTRAINT [FK_WalletTransactions_Users]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CK_Bookings_Status] CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='InProgress' OR [Status]='Confirmed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CK_Bookings_Status]
GO
ALTER TABLE [dbo].[EmailOtps]  WITH CHECK ADD  CONSTRAINT [CK_EmailOtps_OtpType] CHECK  (([OtpType]='PasswordReset' OR [OtpType]='Registration'))
GO
ALTER TABLE [dbo].[EmailOtps] CHECK CONSTRAINT [CK_EmailOtps_OtpType]
GO
ALTER TABLE [dbo].[ParkingLocations]  WITH CHECK ADD  CONSTRAINT [CK_ParkingLocations_Latitude] CHECK  (([Latitude]>=(-90) AND [Latitude]<=(90)))
GO
ALTER TABLE [dbo].[ParkingLocations] CHECK CONSTRAINT [CK_ParkingLocations_Latitude]
GO
ALTER TABLE [dbo].[ParkingLocations]  WITH CHECK ADD  CONSTRAINT [CK_ParkingLocations_Longitude] CHECK  (([Longitude]>=(-180) AND [Longitude]<=(180)))
GO
ALTER TABLE [dbo].[ParkingLocations] CHECK CONSTRAINT [CK_ParkingLocations_Longitude]
GO
ALTER TABLE [dbo].[ParkingLots]  WITH CHECK ADD CHECK  (([CurrentOccupancy]<=[TotalCapacity]))
GO
ALTER TABLE [dbo].[ParkingLots]  WITH CHECK ADD  CONSTRAINT [CK_ParkingLots_Status] CHECK  (([Status]='Pending' OR [Status]='Maintenance' OR [Status]='Full' OR [Status]='Closed' OR [Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[ParkingLots] CHECK CONSTRAINT [CK_ParkingLots_Status]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD CHECK  (([PaymentStatus]='Failed' OR [PaymentStatus]='Success' OR [PaymentStatus]='Pending'))
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [CK_PaymentTransactions_PaymentMethod] CHECK  (([PaymentMethod]='Wallet' OR [PaymentMethod]='Cash' OR [PaymentMethod]='SePay' OR [PaymentMethod]='VNPay'))
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [CK_PaymentTransactions_PaymentMethod]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Reviews_Rating] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Reviews_Rating]
GO
ALTER TABLE [dbo].[UserAuth]  WITH CHECK ADD CHECK  (([Provider]='Google' OR [Provider]='Local'))
GO
/****** Object:  StoredProcedure [dbo].[GetNearbyParkingLots]    Script Date: 3/23/2026 8:08:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetNearbyParkingLots]
    @Latitude FLOAT,
    @Longitude FLOAT,
    @RadiusMeters FLOAT
AS
BEGIN
    DECLARE @UserLocation GEOGRAPHY =
        geography::Point(@Latitude, @Longitude, 4326);

    SELECT
        pl.ParkingLotId,
        pl.Name,
        pl.Address,
        pl.PricePerHour,
        geography::Point(pl.Latitude, pl.Longitude, 4326).STDistance(@UserLocation) AS DistanceInMeters
    FROM [dbo].[ParkingLots] pl
    WHERE pl.Latitude IS NOT NULL
      AND pl.Longitude IS NOT NULL
      AND geography::Point(pl.Latitude, pl.Longitude, 4326).STDistance(@UserLocation) <= @RadiusMeters
      AND pl.Status = 'Available'
      AND (pl.IsDeleted = 0 OR pl.IsDeleted IS NULL)
    ORDER BY DistanceInMeters ASC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_CleanupExpiredOtps]    Script Date: 3/23/2026 8:08:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CleanupExpiredOtps]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @DeletedCount INT
    
    DELETE FROM [dbo].[EmailOtps]
    WHERE [ExpiredAt] < DATEADD(DAY, -1, GETUTCDATE())
    
    SET @DeletedCount = @@ROWCOUNT
    
    PRINT 'Cleaned up ' + CAST(@DeletedCount AS VARCHAR(10)) + ' expired OTP records'
    
    RETURN @DeletedCount
END

GO
